:root{
  --font-primary-dark-blue: #1f2f56; /*hsl(223, 47%, 23%)*/
  --font-secondary-desaturates-blue:#7280a7; /*hsl(224, 23%, 55%)*/
  --primary-bright-blue:#3829e0; /* hsl(245, 75%, 52%)*/
  --secondary-purple: #766cf1;
  --secondary-dark-blue: #1f2f56; /* hsl(223, 47%, 23%) */
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  background-image: url("images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

a{
  cursor: pointer;
  font-weight: 700;
}

/* card */
.card{
  min-height: 80vh;
  width: 80%;
  max-width: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 25px;
  box-shadow: 8px 8px 32px rgba(0,39,145,0.1);
}

/* hero image */
.hero{
  height: 200px;
  background: url("images/illustration-hero.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

/* heading order sunnary */
h1{
  font-weight: 900;
  color: var(--font-primary-dark-blue);
  margin-top: 35px;
}

/* paragraph */
p{
  font-weight: 500;
  color: var(--font-secondary-desaturates-blue);
}

.description{
  margin-top: 20px;
}

/* plan section */
.plan{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  background: #f8f9fe;
  height: 75px;
  padding: 5px 20px;
  border-radius: 10px;
  margin-top:15px;
}

.plan-img{
  flex-grow: 1;
}

.plan-inside{
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

.plan a{
  flex-grow: 1;
  color: var(--primary-bright-blue);
  text-decoration: underline;
}

.plan a:hover{
  color: var(--secondary-purple);
  text-decoration: none;
}

/* proceed to pay button */
.btn-payment{
  width: 80%;
  margin: 0 auto;
  height: 60px;
  color: #fff;
  background-color: var(--primary-bright-blue);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.btn-payment:hover{
  background-color: var(--secondary-purple);
}
/* cancel button */
.btn-cancel{
  width: 80%;
  margin: 0 auto;
  height: 60px;
  margin-top: 10px;
  border-radius: 15px;
  color: var(--font-secondary-desaturates-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-cancel:hover{
  color: var(--secondary-dark-blue);
}

/* desktop */
@media only screen and (min-width: 600px) {
  .card {
    margin: auto;
  }
}
